h1 
{
	font-style: Optima, arial, sans-serif;
}

h2 {
	font-style: Optima, Arial, sans-serif;
	color: lightgrey;
}
p {
	font-style: Optima, Arial, sans-serif;
}

#about {
	background-color: white;
}

body {
	background-color: lightgrey;
}

#about h2 {
	color: black;
}

#services
{
	background-color: white;
}

#services h2 {
	color: black;
}

#contact h2 {
	color: black;
}
.GFG {
            background-color: white;
            font-family: georgia, Arial, sans-serif;
            border: 2px solid black;
            color: black;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
            text-decoration:none;
        }
.hero-image {
		
		  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photography/IMG_7191.jpg");
		  height: 100%;
		  padding-top: 400px;
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: cover;
		  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.carousel-item img {
    max-width: 100%;
}

#portfolio {
	background-color: #181818;
}